.cartitem {
    margin: 100px 100px;
}

.cartitem hr {
    height: 2px;
    background: #e2e2e2;
    border: 0;
}

.cartitem-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitem-format {
    font-size: 15px;
    font-weight: 500;

}

.carticon-product-icon {
    height: 62px;
}

.remove-icon {
    width: 15px;
    margin: 0px 30px;
    cursor: pointer;
}

.cartitem-quantity {
    height: 50px;
    width: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitem-down {
    display: flex;
    margin: 100px 0px;
}

.cartitem-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitem-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitem-total button {
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.cartitem-promocode {
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}

.cartitem-promocode p {
    color: #555;
}

.cartitem-promobox {
    width: 300px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
    display: flex;
}

.cartitem-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    width: 300px;
    height: 50px;
}

.cartitem-promobox button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}