.productDisplay{
    display: flex;
    margin: 0px 150px;
}
.productDisplay-left{
    display: flex;
    gap: 15px;
}
.productDisplay-img-list{
    display: flex;
    gap: 17px;
    flex-direction: column;
}
.productDisplay-img-list img{
    height: 125px;
}
.productDisplay-main-img
{
    width: 450px;
    height: 550px;
}
.productDisplay-right{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}
.productDisplay-right h1
{
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 500;
}
.productDisplay-right-stars
{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 15px;
}
.productDisplay-right-prices
{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}
.productDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productDisplay-right-price-new{
    color: #ff4141;
}
.productDisplay-right-size h1{
    margin-top: 30px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productDisplay-right-sizes
{
    display: flex;
    margin: 20px 0px;
    gap: 10px ;
}
.productDisplay-right-sizes div{
    padding: 15px 20px;
    background:#fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay-right button{
    padding: 15px 35px;
    width: 200px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplay-right-category{
    margin-top: 10px;

}
.productDisplay-right-category span{
    font-weight: 600;
}